/**********************
* COMMON VARIABLES
* Foundational values
**********************/


/* - - - - - -
Common spacing
- - - - - - */
$padding_side: 2.4rem;


/* - - - - -
Brand colors
- - - - - */
// Colors
$colors-wildcat: (
  purple: rgb(81, 40, 136),
  grey: rgb(167,167,167),
  grey-light: rgb(209,209,209)
);


/* - - - - -
Site colors
- - - - - */
$colors-theme: (
  main: map-get($colors-wildcat, grey-light),
  accent: map-get($colors-wildcat, purple),
  text-light: map-get($colors-wildcat, grey),
  text-dark: "#222"
);