/**********************
* COMMON VARIABLES
* Foundational values
**********************/


/* - - - - - -
Common spacing
- - - - - - */
$padding_side: 2.4rem;


/* - - - - -
Brand colors
- - - - - */
// Colors
$colors-wildcat: (
  purple: rgb(81, 40, 136),
  grey: rgb(167,167,167),
  grey-light: rgb(209,209,209)
);


/* - - - - -
Site colors
- - - - - */
$color-blue: #3487C7;
$color-green: #3B9951;
$color-orange: #FFA238;
$color-purple: rgb(81, 40, 136);

$colors-theme: (
  main: map-get($colors-wildcat, grey-light),
  accent: map-get($colors-wildcat, purple),
  accent-alt-a: $color-blue,
  accent-alt-b: $color-green,
  text-light: map-get($colors-wildcat, grey),
  text-dark: #222,
  cta: $color-orange
);