/**********************
* ALL OF THE STYLES
* Base import sheets
**********************/
@import "imports";
@import "vars";
@import "reset";
@import "typography";

/* - - - - -
Base styles
- - - - - */
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: lighten(black, 5%);
}

#app {
  margin: auto;
}

.page {
  padding: $padding_side;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background: darken(white, 2%);
}

// Images and links

a > img {
  display: block;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
  position: relative;
  &:hover {
    text-decoration: none;
    box-shadow: 0 4px 10px 0px rgba(0,0,0,0.225);
  }
}

.caption {
  display: block;
  margin-top: 0.8rem;
}

img {
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(black, 0.2);
}

a, a:visited, a:active {
  text-decoration: none;
}

.btn {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
  &:hover {
    text-decoration: none;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.225);
  }
}

a.cta {
  display: block;
  background: map-get($colors-theme, cta);
  color: darken(map-get($colors-theme, cta), 40%);
  padding: 1.6rem 2.4rem;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  line-height: 1;
  margin: 1.6rem 0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

section {
  margin-bottom: 4.8rem;
}