/**********************
* ALL OF THE STYLES
* Base import sheets
**********************/
@import "imports";
@import "vars";
@import "reset";
@import "typography";

/* - - - - -
Base styles
- - - - - */
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: darken($color_grey, 30%);
}

#app {
  margin: auto;
}

.page {
  padding: $padding_side;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}