/**********************
* ALL OF THE STYLES
* Base import sheets
**********************/
@import "imports";
@import "vars";
@import "reset";
@import "typography";

/* - - - - -
Base styles
- - - - - */
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

// Prototype
// TODO: Remove this for prod
html, body {
  background-color: darken($color_grey, 30%);
}
#app {
  margin: auto;
}